<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>

<input type="text" id="inputMessage">

<script>

    const socket = new WebSocket("ws://localhost:8080/app")

    function sendMessage() {
        const message = document.getElementById("inputMessage").value;
        socket.send(message)
    }


    socket.onmessage = (mess) => {
        console.log(mess)
    }


    document.addEventListener('keydown', function (e) {
        if (e.key === 'Enter') {
            sendMessage()
        }

    });

</script>
</body>
</html>